# Dart related
.dart_tool/
.packages
.pub-cache/
build/

# IDEs
.idea/
*.iml
.vscode/

# Dependency lock files (optional)
pubspec.lock
example/pubspec.lock

# Output & logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Coverage
coverage/

# Test outputs
test_output/

# pub-specific
*.g.dart
*.freezed.dart
